
#!/bin/sh
ARCHIVEDIR='{{ postgresql.archive_directory }}'

#archive
cp -an $1 $ARCHIVEDIR/$2 </dev/null

#clean
CHKPOINT=$(find $ARCHIVEDIR -type f -mtime +1 -name '*backup' -printf '%f\n' | sort -r | head -1)
cd $ARCHIVEDIR
if [ "$CHKPOINT" != "" ]; then

pg_archivecleanup $ARCHIVEDIR $CHKPOINT

find $ARCHIVEDIR -type f -mtime +3 -a -name '*backup' -a ! -newer $CHKPOINT -delete
fi
