# Database administrative login by Unix domain socket



# TYPE  DATABASE        USER            ADDRESS                 METHOD
#host    all             all             all                 md5
# "local" is for Unix domain socket connections only
local   all             all                                     peer
# IPv4 local connections:
host    all             all             127.0.0.1/32            md5

#allow connection from remote desktop lab
host    all             all             192.168.0.122/32        md5
# IPv6 local connections:
host    all             all             ::1/128                 md5

#Replication
local   replication     postgres                                trust

{% if application == 'aswa' %}
#allow application server : AP01,AP02,AP03,ML01
host    aswa,lportal    all             10.0.255.203/32         md5
host    aswa,lportal    all             10.0.255.122/32         md5
host    aswa,lportal    all             10.0.255.96/32          md5
host    aswa            all             10.0.255.134/32         md5
{% endif %}


{% if application== 'epermits' %}
host    lportal     liferay              0.0.0.0/0         md5
host    epermits    epermits             0.0.0.0/0         md5
host    activiti    activiti             0.0.0.0/0         md5
host    alfresco    alfresco             0.0.0.0/0        md5
{% endif %}

