#echo Stopping PostgreSQL
#systemctl start  postgresql-9.3

echo Cleaning up old cluster directory
sudo -u postgres rm -rf /var/lib/pgsql/9.3/data

echo Starting base backup as replicator
sudo -u postgres pg_basebackup -h {{ MasterPostgres }} -D /var/lib/pgsql/9.3/data -U {{ ReplicUser }} -v -P

echo Writing recovery.conf file
sudo -u postgres bash -c "cat > /var/lib/pgsql/9.3/data/recovery.conf <<- _EOF1_
  standby_mode = 'on'
  primary_conninfo = 'host={{ MasterPostgres }} port=5432 user={{ RepliUser }} password={{ ReplicPasswd }} '
  trigger_file = '/tmp/postgresql.trigger'
_EOF1_
"

systemctl start  postgresql-9.3