{% for host in monitored %}
    {% if host.service=='tomcat' %}

        object Host "{{ host.alias }}" {
        check_command = "ping4"
        address = "{{ host.ip }}"
        vars.os = "Linux"
        vars.service = "{{ host.service }}"
        vars.application = "{{ host.application }}"
        vars.tcp_port = "8080"
        vars.notification["mail"] = {
        groups = [ "icingaadmins" ]
        }
    }
    {% endif %}



    {% if host.service=='postgres' %}

        object Host "{{ host.alias }}" {
        check_command = "ping4"
        address = "{{ host.ip }}"
        vars.os = "Linux"
        vars.service = "{{ host.service }}"
        vars.application = "{{ host.application }}"
        vars.tcp_port = "5432"
        vars.notification["mail"] = {
        groups = [ "icingaadmins" ]
            }
        }

    {% endif %}




    {% if host.service=='mongodb' %}

        object Host "{{ host.alias }}" {
        check_command = "ping4"
        address = "{{ host.ip }}"
        vars.os = "Linux"
        vars.service = "{{ host.service }}"
        vars.application = "{{ host.application }}"
        vars.tcp_port = "27017"

        vars.notification["mail"] = {
        groups = [ "icingaadmins" ]
            }
        }
    {% endif %}
{% endfor %}