icinga:
  image: {{ ICINGA_IMAGE }}
  mem_limit: {{ memory_limit_icinga }}
  volumes:
      - "{{ service_path }}/conf/:/etc/icinga2/conf.d/:Z"
  ports:
      - "0.0.0.0:{{ ICINGA_HTTP }}:80"
  extra_hosts:
{% for host in monitored  %}
      - {{ host.alias }}:{{ host.ip }}
{% endfor %}
