#--EDM Server configuration -->
epermits.edm.server.host=alfresco
epermits.edm.server.port=8080
epermits.edm.server.site=benin
epermits.edm.server.username=epermits
epermits.edm.server.password=epermits

# Database migration and versioning tool configuration
# Possible values : ENABLED, DISABLED
epermits.flyway.db.migration=DISABLED

#-- The Country of the deployed application
# the value must be ISO 3 characters
epermits.deployement.country=lao
#-- deployement mod PROD, INT, UAT
{% if inventory_hostname in groups['DockerIntegration'] %}

    epermits.deployement.env=INT


{% elif inventory_hostname in groups['DockerRecette'] %}

    epermits.deployement.env=REC

{% elif inventory_hostname in groups['DockerTra'] %}

    epermits.deployement.env=TRA


{% elif inventory_hostname in groups['DockerUat'] %}

    epermits.deployement.env=UAT

{% elif inventory_hostname in groups['DockerSdx'] %}
    epermits.deployement.env=SDX

{% endif %}


#-- Invoice header Prefix
epermits.invoice.header.prfix=INV

# logging directory path configuration
epermits.logging.application.directory=/appli/epermits/application/logs
epermits.logging.mail.directory=/appli/epermits/application/logs

#-- SMTP Mail Server configuration
epermits.mail.smtp.host=localhost
epermits.mail.smtp.port=25
epermits.mail.smtp.username=user1
epermits.mail.smtp.password=BV052015

# Email notification configuration
epermits.mail.adress.sender=mohammed.mattou@gsitlab.com
epermits.mail.adress.recepient=radouane.karra@gsitlab.com

# The application DNS
epermits.application.dns=http://8.8.8.8

# PIWIK configuration
piwik.site.id=2
piwik.tracker.url=localhost

#OpenAM Activation
epermits.openam.auth.activate=false

# User's Password generation
epermits.password.length=6
epermits.password.useSpecialChars=true

# Prefixe for invoice reference display in requiredDocument step
epermits.invoice.prefixe=FACTURE

# Maximum drafts for Shipment requests
epermits.shipments.max_drafts=10

# BV Invoice
epermits.bv_invoice.status=true
epermits.bv_invoice.name=LNSW
epermits.bv_invoice.label=Lao National Single Window Fees
epermits.bv_invoice.amount=100000.00
epermits.bv_invoice.vatAmount=30000.00

manifest.file.path=META-INF/MANIFEST.MF
manifest.implementation.version=Implementation-Version
manifest.build.time=Build-Time

# keystore config
keystore.path=/appli/epermits/application/config/keystore.jks
keystore.kind=JKS
keystore.password=password
keystore.private.key.name=epermitstest

#Authorization signature activation
epermits.document.signature.activated=false

signature.emission.date.prefixe=Document signé électroniquement le
signature.emitted.by=par le
signature.emitted.for.account=pour le compte de
signature.director.of=de
signature.reason=EPERMIT TEST

#Activiti configuration
#- Process deployemnt
epermits.bpmn.deployment.epermitprocess.enabled=true
epermits.bpmn.deployment.licenseprocess.enabled=true
epermits.bpmn.deployment.shipmentprocess.enabled=true
#- schema update. Possible values : true, false ==> Always put  false
epermits.activiti.db.schema.update=true
#- user management
#epermits.bpmn.explorer.admin.login=epermits ==> Always epermits
epermits.bpmn.explorer.admin.password=epermits
