#--EDM Server configuration -->
epermits.edm.server.host=alfresco
epermits.edm.server.port=8080
epermits.edm.server.site=benin
epermits.edm.server.username=epermits
epermits.edm.server.password=epermits

# Database migration and versioning tool configuration
# Possible values : ENABLED, DISABLED
epermits.flyway.db.migration=DISABLED


#-- The Country of the deployed application
# the value must be ISO 3 characters
{% if country == "benin" %}
    epermits.deployement.country=ben
{% elif country == "laos" %}
    epermits.deployement.country=lao
{% endif %}


#-- deployement mod PROD, INT, UAT
{% if inventory_hostname in groups['DockerIntegration'] %}

    epermits.deployement.env=INT


{% elif inventory_hostname in groups['DockerRecette'] %}

    epermits.deployement.env=REC

{% elif inventory_hostname in groups['DockerTra'] %}

    epermits.deployement.env=TRA


{% elif inventory_hostname in groups['DockerUat'] %}

    epermits.deployement.env=UAT

{% elif inventory_hostname in groups['DockerSdx'] %}
    epermits.deployement.env=SDX

{% endif %}

#-- Invoice header Prefix
epermits.invoice.header.prfix=INV

# logging directory path configuration
epermits.logging.application.directory=/appli/epermits/application/logs
epermits.logging.mail.directory=/appli/epermits/application/logs

#-- SMTP Mail Server configuration
epermits.mail.smtp.host=localhost
epermits.mail.smtp.port=25
epermits.mail.smtp.username=epermits
epermits.mail.smtp.password=epermits


# Email notification configuration
#epermits.mail.adress.sender=GUOCE_NE_PAS_REPONDRE@segub.bj
#epermits.mail.adress.recepient=GUOCE_NOTIFICATIONS@segub.bj

# Email notification configuration
epermits.mail.adress.sender=mohammed.mattou@gsitlab.com
epermits.mail.adress.recepient=radouane.karra@gsitlab.com


# The application DNS
epermits.application.dns=http://8.8.8.8


# Email notification configuration
#epermits.mail.adress.sender=GUOCE_NE_PAS_REPONDRE@segub.bj
#epermits.mail.adress.recepient=GUOCE_NOTIFICATIONS@segub.bj

# Email notification configuration
epermits.mail.adress.sender=mohammed.mattou@gsitlab.com
epermits.mail.adress.recepient=radouane.karra@gsitlab.com


# The application DNS
epermits.application.dns=http://8.8.8.8

# bpm
epermits.bpm.client.rest.server.name=
epermits.bpm.client.rest.server.port=
epermits.bpm.client.rest.server.context=


# memcache
epermits.memcache.usecache=false
epermits.memcache.servers=
epermits.memcache.user.ttl=600
epermits.memcache.ref.ttl=3600


piwik.site.id=2
{% if country == "benin" %}
piwik.tracker.url=guocebenin.bj
{% endif %}
{% if country == "laos" %}
piwik.tracker.url=http://8.8.8.8
{% endif %}
epermits.openam.auth.activate=false


epermits.password.length=6
epermits.password.useSpecialChars=true

# Attachement max size
epermits.attachement.max.size=3145728

# Login for bpm service
epermits.bpm.client.login=kermit
epermits.bpm.client.password=kermit

# User's Password generation
epermits.password.length=6
epermits.password.useSpecialChars=false

# Prefixe for invoice reference display in requiredDocument step
epermits.invoice.prefixe=INVOICE

# Maximum drafts for Shipment requests
epermits.shipments.max_drafts=10

# BV Invoice
epermits.bv_invoice.status=false
epermits.bv_invoice.name=GUOCE
epermits.bv_invoice.label=Facturation Guichet Unique
epermits.bv_invoice.amount=0.00
epermits.bv_invoice.vatAmount=0.00

manifest.file.path=META-INF/MANIFEST.MF
manifest.implementation.version=Implementation-Version
manifest.build.time=Build-Time

# keystore config
keystore.path=/appli/tomcat
keystore.kind=JKS
keystore.password=password
keystore.private.key.name=epermitstest

signature.emission.date.prefixe=Document signe elctroniquement
signature.emitted.by=par le
signature.emitted.for.account=pour le compte de
signature.director.of=de

signature.reason=EPERMIT TEST
#Activiti configuration
#- Process deployemnt
epermits.bpmn.deployment.epermitprocess.enabled=true
epermits.bpmn.deployment.licenseprocess.enabled=true
epermits.bpmn.deployment.shipmentprocess.enabled=true
#- schema update. Possible values : drop-create, true, false ==> Always put  false
epermits.activiti.db.schema.update=true

#- user management
#epermits.bpmn.explorer.admin.login=epermits ==> Always epermits
epermits.bpmn.explorer.admin.password=epermits

#EDI
epermits.edi.bv_invoice.issuer_code=test
epermits.edi.bv_invoice.issuer_bank=test
epermits.edi.bv_invoice.issuer_bank_account_number=test
