<?xml version='1.0' encoding='utf-8'?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!-- The contents of this file will be loaded for each web application -->
<Context>

    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    {% if inventory_hostname in groups.DockerRecette and  country == "laos" %}



        <Resource name="jdbc/epermitsDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ REC_APP_DB_NAME_LAOS }}"
          username="{{ epermits_user }}" password="{{ epermits_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>



        <Resource name="jdbc/epermitsBpmDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ REC_ACT_DB_NAME_LAOS }}"
          username="{{ activiti_user }}" password="{{ activiti_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

    {% endif %}



 {% if inventory_hostname in groups.DockerRecette and  country == "benin"  %}


      <Resource name="jdbc/epermitsDS" auth="Container"
         type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
         url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ REC_APP_DB_NAME_BENIN }}"
         username="{{ epermits_user }}" password="{{ epermits_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>



        <Resource name="jdbc/epermitsBpmDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ REC_ACT_DB_NAME_BENIN }}"
          username="{{ activiti_user }}" password="{{ activiti_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

    {% endif %}

 {% if inventory_hostname in groups.DockerIntegration and  country=="laos"  %}


     <Resource name="jdbc/epermitsDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ INT_APP_DB_NAME_LAOS }}"
          username="{{ epermits_user }}" password="{{ epermits_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

     <Resource name="jdbc/epermitsBpmDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ INT_ACT_DB_NAME_LAOS }}"
          username="{{ activiti_user }}" password="{{ activiti_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

    {% endif %}

{% if inventory_hostname in groups.DockerIntegration and  country == "benin"  %}


    <Resource name="jdbc/epermitsDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ INT_APP_DB_NAME_BENIN }}"
          username="{{ epermits_user }}" password="{{ epermits_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

    <Resource name="jdbc/epermitsBpmDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ INT_ACT_DB_NAME_BENIN }}"
          username="{{ activiti_user }}" password="{{ activiti_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

    {% endif %}

{% if inventory_hostname in groups.DockerUat and  country == "laos"  %}


    <Resource name="jdbc/epermitsDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ UAT_APP_DB_NAME_LAOS }}"
          username="{{ epermits_user }}" password="{{ epermits_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

    <Resource name="jdbc/epermitsBpmDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ UAT_ACT_DB_NAME_LAOS }}"
          username="{{ activiti_user }}" password="{{ activiti_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

    {% endif %}

{% if inventory_hostname in groups.DockerUat and  country == "benin"  %}


    <Resource name="jdbc/epermitsDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ UAT_APP_DB_NAME_BENIN }}"
          username="{{ epermits_user }}" password="{{ epermits_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

    <Resource name="jdbc/epermitsBpmDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ UAT_ACT_DB_NAME_BENIN }}"
          username="{{ activiti_user }}" password="{{ activiti_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

    {% endif %}



{% if inventory_hostname in groups.DockerSdx and  country == "benin"  %}


    <Resource name="jdbc/epermitsDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ SDX_APP_DB_NAME_BENIN }}"
          username="{{ epermits_user }}" password="{{ epermits_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

    <Resource name="jdbc/epermitsBpmDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ SDX_ACT_DB_NAME_BENIN }}"
         username="{{ activiti_user }}" password="{{ activiti_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

    {% endif %}


{% if inventory_hostname in groups.DockerSdx and  country == "laos"  %}


    <Resource name="jdbc/epermitsDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ SDX_APP_DB_NAME_LAOS }}"
          username="{{ epermits_user }}" password="{{ epermits_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

    <Resource name="jdbc/epermitsBpmDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ SDX_ACT_DB_NAME_LAOS }}"
          username="{{ activiti_user }}" password="{{ activiti_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

    {% endif %}

## tra

{% if inventory_hostname in groups.DockerTra and  country == "benin"  %}


    <Resource name="jdbc/epermitsDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ TRA_APP_DB_NAME_BENIN }}"
          username="{{ epermits_user }}" password="{{ epermits_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

    <Resource name="jdbc/epermitsBpmDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ TRA_ACT_DB_NAME_BENIN }}"
         username="{{ activiti_user }}" password="{{ activiti_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

    {% endif %}


{% if inventory_hostname in groups.DockerTra and  country == "laos"  %}


    <Resource name="jdbc/epermitsDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ TRA_APP_DB_NAME_LAOS }}"
          username="{{ epermits_user }}" password="{{ epermits_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

    <Resource name="jdbc/epermitsBpmDS" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://{{ MASTER_DB }}:5432/{{ TRA_ACT_DB_NAME_LAOS }}"
          username="{{ activiti_user }}" password="{{ activiti_password }}" maxTotal="20" maxIdle="10"   maxWaitMillis="6000"/>

    {% endif %}


</Context>