
global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     5000
    user        haproxy
    group       haproxy
    daemon
    tune.ssl.default-dh-param 2048
    stats socket /var/lib/haproxy/stats

defaults
    mode                    http
    log                         global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option                  forwardfor
    option                  redispatch
    option                  httpchk
    retries                 3
    timeout http-request    5s
    timeout queue           5m
    timeout connect         5s
    timeout client          5m
    timeout server          5m
    timeout http-keep-alive 5s
    timeout check           5s
    maxconn                 4750




# main frontend which proxys to the backends
#---------------------------------------------------------------------

frontend http-in
    #bind :443 ssl crt /etc/haproxy/certprod.pem
    bind :80
    stats enable
    stats uri /statistics
    stats realm \ aswa\ Statistics
    stats auth admin:Gsitlab00
    stats hide-version
    stats refresh 5s
    compression algo gzip
    default_backend      {{haproxy.default}}



{% if datacenter == 'aws2' %}
#---------------------------------------------------------------------
# ssh vip
#---------------------------------------------------------------------

frontend ssh_vip
    bind :2222
    mode tcp
    stats refresh 5s
    compression algo gzip
    option tcplog
    default_backend  admin_server

#---------------------------------------------------------------------
# postgresql vip
#---------------------------------------------------------------------
frontend postgres_vip
    bind :5444
    mode tcp
    compression algo gzip
    option tcplog
    default_backend postgres_server


backend postgres_server
    mode tcp
    option tcplog
    server squash  10.1.2.183:5432  check



backend admin_server
    mode tcp
    option tcplog
    server node01  10.1.2.183:22

{% endif %}



{% if datacenter == 'aws1' %}
#---------------------------------------------------------------------
# round robin balancing between the various backends
#---------------------------------------------------------------------
{% for backend in haproxy.backends %}
    backend {{backend.title}}
    balance roundrobin
    cookie {{ backend.cookie_name }} insert
    {%for server in backend.servers %}
    server  {{server.title}} {{server.address}} check inter 5s cookie {{ server.cookie }}   weight  20
    {% endfor %}

{% endfor %}



{% endif %}


