
{% for host in groups['epermits_databases_PROD'] %}
{% if inventory_hostname in group.epermits_webservers_PROD or group.epermits_activiti_PROD or epermits_portal_PROD] %}
	object Host "{{ inventory_hostname }}" 
	/* Import the default host template defined in `templates.conf`. */
	import "generic-host"

  
  address = "{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}"

  /* Set custom attribute `os` for hostgroup assignment in `groups.conf`. */
  vars.os = "Linux"
  vars.service = "database"
  vars.tcp_port = "5432"

 
  /* Define notification mail attributes for notification apply rules in `notifications.conf`. */
  vars.notification["mail"] = {
    /* The UserGroup `icingaadmins` is defined in `users.conf`. */
    groups = [ "icingaadmins" ]
  }
}

{% endif %}
{% endfor %}

{% for host in groups['epermits_alfresco_PROD'] or groups['epermits_activiti_PROD'] or groups[''] %}

{% if inventory_hostname in group.epermits_databases_PROD  %}
object Host "{{ inventory_hostname }}" 
  /* Import the default host template defined in `templates.conf`. */
  import "generic-host"

  /* Specify the address attributes for checks e.g. `ssh` or `http`. */
  address = "{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}"

  /* Set custom attribute `os` for hostgroup assignment in `groups.conf`. */
  vars.os = "Linux"
  vars.service = "webservers"

  /* Define http vhost attributes for service apply rules in `services.conf`. */
  vars.http_vhosts["http"] = {
    http_uri = "/"
  }
  /* Uncomment if you've sucessfully installed Icinga Web 2. */
  //vars.http_vhosts["Icinga Web 2"] = {
  //  http_uri = "/icingaweb2"
  //}

 
  /* Define notification mail attributes for notification apply rules in `notifications.conf`. */
  vars.notification["mail"] = {
    /* The UserGroup `icingaadmins` is defined in `users.conf`. */
    groups = [ "icingaadmins" ]
  }
}

{% endif %}
{% endfor %}
