



epermits:
  image: {{ LAOS_EPERMITS_IMAGE }}
  mem_limit: {{ memory_limit_epermits }}
  volumes:
      - "/home/deployer/docker/ENV/INT/laos/docker-epermits/assets/conf/:/appli/tomcat/conf:Z"
      - "/home/deployer/docker/ENV/INT/laos/docker-epermits/app_config/:/appli/epermits/application/config:Z"
  ports:
      - "0.0.0.0:{{ INT_APP_EPERMITS_HTTP_LAOS }}:8080"
      - "0.0.0.0:{{ INT_APP_EPERMITS_SSH_LAOS }}:22"
  extra_hosts:
      - "db:{{ MASTER_DB }}"
  links:
      - "alfresco:alfresco"




alfresco:
  image: {{ ALFRESCO_IMAGE }}
  mem_limit: {{ memory_limit_module }}
  volumes:
      - "/home/deployer/docker/ENV/INT/laos/docker-alfresco/alfresco/:/appli/tomcat/shared/classes/:Z"
  ports:
     - "0.0.0.0:{{ INT_ALF_EPERMITS_HTTP_LAOS }}:8080"
     - "0.0.0.0:{{ INT_ALF_EPERMITS_SSH_LAOS }}:22"
  environment:
     - DB_USERNAME={{ alfresco_user }}
     - DB_PASSWORD={{ alfresco_password }}
     - DB_NAME={{ INT_ALF_DB_NAME_LAOS }}
     - DB_HOST={{ MASTER_DB }}
  extra_hosts:
     - "db:{{ MASTER_DB }}"
  hostname: alfresco_{{ country }}












