



epermits:
  image: {{ BENIN_EPERMITS_IMAGE }}
  mem_limit: {{ memory_limit_epermits }}
  volumes:
      - "/home/deployer/docker/ENV/TRA/benin/docker-epermits/assets/conf/:/appli/tomcat/conf:Z"
      - "/home/deployer/docker/ENV/TRA/benin/docker-epermits/app_config/:/appli/epermits/application/config:Z"
  ports:
      - "0.0.0.0:{{ TRA_APP_EPERMITS_HTTP_BENIN }}:8080"
      - "0.0.0.0:{{ TRA_APP_EPERMITS_SSH_BENIN }}:22"
  extra_hosts:
      - "db:{{ MASTER_DB }}"
  links:
      - "alfresco:alfresco"




alfresco:
  image: {{ ALFRESCO_IMAGE }}
  mem_limit: {{ memory_limit_module }}
  volumes:
      - "/home/deployer/docker/ENV/TRA/benin/docker-alfresco/alfresco/:/appli/tomcat/shared/classes/:Z"
  ports:
     - "0.0.0.0:{{ TRA_ALF_EPERMITS_HTTP_BENIN }}:8080"
     - "0.0.0.0:{{ TRA_ALF_EPERMITS_SSH_BENIN }}:22"
  environment:
     - DB_USERNAME={{ alfresco_user }}
     - DB_PASSWORD={{ alfresco_password }}
     - DB_NAME={{ TRA_ALF_DB_NAME_BENIN }}
     - DB_HOST={{ MASTER_DB }}
  extra_hosts:
     - "db:{{ MASTER_DB }}"
  hostname: alfresco_{{ country }}


monitor:
  image: {{ CADVISOR_IMAGE }}
  volumes:
     - "/:/rootfs:ro"
     - "/var/run:/var/run:rw"
     - "/sys:/sys:ro"
     - "/var/lib/docker/:/var/lib/docker:ro"
  ports:
     - "0.0.0.0:8093:8080"

