owncloud:
  image: {{ DOCKER_IMAGE }}
  restart: always
  ports:
    - "{{ HOST_PORT }}:{{ DOCKER_PORT }}"
  environment:
    VIRTUAL_HOST: {{ DOMAIN }}
    TARGET_SUBDIR: /
  volumes:
    - {{ DIRECTORY_DATA }}
  extra_hosts:
      - "db:{{ DATA_MASTER }}"