#--EDM Server configuration -->
epermits.edm.server.host={{ AlfrescoServer }}
epermits.edm.server.port=8080
epermits.edm.server.site={{ country }}
epermits.edm.server.username={{ application }}
epermits.edm.server.password={{ application }}

# Database migration and versioning tool configuration
# Possible values : ENABLED, DISABLED
epermits.flyway.db.migration=DISABLED


#-- The Country of the deployed application
# the value must be ISO 3 characters
epermits.deployement.country={{ country }}
#-- deployement mod PROD, INT, UAT
epermits.deployement.env={{ env }}

#-- Invoice header Prefix
epermits.invoice.header.prfix=INV

# logging directory path configuration
epermits.logging.application.directory=/appli/epermits/application/logs
epermits.logging.mail.directory=/appli/epermits/application/logs

#-- SMTP Mail Server configuration
epermits.mail.smtp.host={{ SmtpHost }}
epermits.mail.smtp.port=25
epermits.mail.smtp.username={{ SmtpUser }}
epermits.mail.smtp.password={{ SmtpPassword }}


# Email notification configuration
#epermits.mail.adress.sender=GUOCE_NE_PAS_REPONDRE@segub.bj
#epermits.mail.adress.recepient=GUOCE_NOTIFICATIONS@segub.bj

# Email notification configuration
epermits.mail.adress.sender=mohammed.mattou@gsitlab.com
epermits.mail.adress.recepient=radouane.karra@gsitlab.com


# The application DNS
epermits.application.dns=http://{{ ApplicationUrl }}


# Email notification configuration
#epermits.mail.adress.sender=GUOCE_NE_PAS_REPONDRE@segub.bj
#epermits.mail.adress.recepient=GUOCE_NOTIFICATIONS@segub.bj

# Email notification configuration
epermits.mail.adress.sender=mohammed.mattou@gsitlab.com
epermits.mail.adress.recepient=radouane.karra@gsitlab.com


# The application DNS
epermits.application.dns=http://{{ DnsServer }}

# bpm
epermits.bpm.client.rest.server.name=
epermits.bpm.client.rest.server.port=
epermits.bpm.client.rest.server.context=


# memcache
epermits.memcache.usecache=false
epermits.memcache.servers={{ MemCache }}
epermits.memcache.user.ttl=600
epermits.memcache.ref.ttl=3600


piwik.site.id=2
#piwik.tracker.url=

epermits.openam.auth.activate=false


epermits.password.length=6
epermits.password.useSpecialChars=true

# Attachement max size
epermits.attachement.max.size=3145728

# Login for bpm service
epermits.bpm.client.login=kermit
epermits.bpm.client.password=kermit

# User's Password generation
epermits.password.length=6
epermits.password.useSpecialChars=false

# Prefixe for invoice reference display in requiredDocument step
epermits.invoice.prefixe=INVOICE

# Maximum drafts for Shipment requests
epermits.shipments.max_drafts=10

# BV Invoice
epermits.bv_invoice.status=true
epermits.bv_invoice.name=LNSW
epermits.bv_invoice.label=Lao National Single Window Fees
epermits.bv_invoice.amount=100000.00
epermits.bv_invoice.vatAmount=30000.00