<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	version="CE-3.6.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd">

	<spring:beans>
		<spring:import resource="file:////DATA_CMS/ESB_CONF/aswa-ext-ws-generic/mule-endpoints.xml" />
		<!-- spring:import resource="classpath:mule-jms-connectors.xml" /-->

		<context:component-scan base-package="fr.bureauveritas"/>





		<spring:bean id="requestService" class="fr.bureauveritas.aswa.integration.ws.services.RequestService">
			<spring:constructor-arg value="${gateway.url}" />
		</spring:bean>




		<spring:bean id="configurationLoader" class="fr.bureauveritas.aswa.ext.ws.integration.common.config.ConfigurationLoader" init-method="init">
			<spring:property name="jdbcTemplate" ref="jdbcTemplate"/>
		</spring:bean>


	</spring:beans>

	<object-to-byte-array-transformer name="objectToByteArray" doc:name="Object to Byte Array"/>
	<byte-array-to-string-transformer name="byteArrayToString" doc:name="Byte Array to String"/>
    <custom-transformer class="fr.bureauveritas.aswa.integration.ws.transformer.StringToXmlTransformer" name="stringToXml" doc:name="Java"/>




	<!-- <flow name="aswa-ext-jmsTest">
    	<http:inbound-endpoint ref="aswaWsContract"/>

       <jms:outbound-endpoint connector-ref="hornetq-connector" queue="DLQ"/>
    </flow> -->

    <flow name="aswa-ext-ws-contractFlow">
    	<http:inbound-endpoint ref="aswaWsContract" transformer-refs="objectToByteArray byteArrayToString" responseTransformer-refs="objectToString" doc:name="HTTP"/>
		<set-property propertyName="activated" value="false" doc:name="Property"/>


		<component doc:name="Java">
			<spring-object bean="contractService" />
		</component>

        <component doc:name="Java">
			<spring-object bean="contractResponseService" />
		</component>

	</flow>

	<!-- <flow name="aswa-ext-ws-contractFlow" doc:name="aswa-ext-ws-contractFlow">
		<http:inbound-endpoint ref="aswaWsContract" transformer-refs="jsonToContractTerm" doc:name="HTTP" />

		<component doc:name="Java">
			<spring-object bean="contractService" />
		</component>
	</flow> -->

	<flow name="aswa-ext-ws-vehicleFlow" >
		<http:inbound-endpoint ref="aswaWsVehicle" transformer-refs="objectToByteArray byteArrayToString" responseTransformer-refs="objectToString" doc:name="HTTP"/>

		<component doc:name="Java">
			<spring-object bean="vehicleService" />
		</component>

		<component doc:name="Java">
			<spring-object bean="vehicleRepositoryService" />
		</component>

	</flow>

	<flow name="aswa-ext-ws-personFlow" >
		<http:inbound-endpoint ref="aswaWsPerson" exchange-pattern="request-response" transformer-refs="jsonToClient" responseTransformer-refs="stringToXml"
			doc:name="HTTP" />
		<component doc:name="Java">
			<spring-object bean="personService" />
		</component>

	</flow>

	<flow name="aswa-ext-ws-bmLimitedFlow" >
		<http:inbound-endpoint ref="aswaWsBMLimited" transformer-refs="jsonToUser" responseTransformer-refs="objectToString"
			doc:name="HTTP" />
		<component doc:name="Java">
			<spring-object bean="BMLimitedService" />
		</component>
	</flow>

	<flow name="aswa-ext-ws-bmUnlimitedFlow" >
		<http:inbound-endpoint ref="aswaWsBMUnlimited" doc:name="HTTP" exchange-pattern="request-response" transformer-refs="jsonToClient" responseTransformer-refs="objectToString"/>

		<component doc:name="Java">
			<spring-object bean="BMUnlimitedService" />
		</component>
	</flow>

    <flow name="aswa-ext-compensationManual" >
    	<http:inbound-endpoint address="http://${mule.host}:${mule.port.http}/aswa/ws/compensation" doc:name="HTTP"/>

        <!-- <quartz:inbound-endpoint jobName="requestCompensations" cronExpression="0 0 2 * ? *" doc:name="Quartz">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint> -->

        <set-property propertyName="zipDirectory" value="/usr/bureauveritas/APP_DATA/ASWA/COMP" doc:name="Property" />

        <component doc:name="Java">
			<spring-object bean="compensationService" />
		</component>
    </flow>

    <flow name="aswa-ext-compensationScheduled" >
        <quartz:inbound-endpoint jobName="requestCompensations" cronExpression="0 0 2 * * ?" doc:name="Quartz">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>

        <set-property propertyName="zipDirectory" value="/usr/bureauveritas/APP_DATA/ASWA/COMP" doc:name="Property" />

        <component doc:name="Java">
			<spring-object bean="compensationService" />
		</component>
    </flow>


</mule>