# IP of hosting computer
mule.host={{ MuleServer }}

# informations on ASWA DB
#jdbc.url=jdbc:postgresql://192.168.0.103:5432/aswa
#jdbc.user=postgres
#jdbc.password=postgres

jdbc.url=jdbc:postgresql://{{ DatabaseServer }}:5432/{{ Database }}
jdbc.user={{ DatabaseUser }}
jdbc.password={{ DatabasePasswd }}

