<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:rmi="http://www.mulesoft.org/schema/mule/rmi" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.5/mule-jms.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/3.6/mule-json.xsd
http://www.mulesoft.org/schema/mule/rmi http://www.mulesoft.org/schema/mule/rmi/current/mule-rmi.xsd">

	<context:property-placeholder location="file:////DATA_CMS/ESB_CONF/env.properties,file:////DATA_CMS/ESB_CONF/aswa-ext-ws-generic/mule-config.properties" />

	<spring:bean id="jacksonObjectMapper" class="org.codehaus.jackson.map.ObjectMapper" />

	<object-to-string-transformer name="objectToString" />

    <json:object-to-json-transformer name="vehicleToJson" sourceClass="fr.bureauveritas.aswa.entites.transport.Vehicle" mapper-ref="jacksonObjectMapper"/>
    <json:object-to-json-transformer name="contractTermToJson" sourceClass="fr.bureauveritas.aswa.entites.contract.ContractTerm" mapper-ref="jacksonObjectMapper"/>
    <json:object-to-json-transformer name="clientToJson" sourceClass="fr.bureauveritas.aswa.entites.client.Client" mapper-ref="jacksonObjectMapper"/>
    <json:object-to-json-transformer name="userToJson" sourceClass="fr.bureauveritas.aswa.entites.client.User" mapper-ref="jacksonObjectMapper"/>

    <json:json-to-object-transformer name="jsonToVehicle" returnClass="fr.bureauveritas.aswa.entites.transport.Vehicle" mapper-ref="jacksonObjectMapper"/>
    <json:json-to-object-transformer name="jsonToContractTerm" returnClass="fr.bureauveritas.aswa.entites.contract.ContractTerm" mapper-ref="jacksonObjectMapper"/>
    <json:json-to-object-transformer name="jsonToClient" returnClass="fr.bureauveritas.aswa.entites.client.Client"  mapper-ref="jacksonObjectMapper"/>
    <json:json-to-object-transformer name="jsonToUser" returnClass="fr.bureauveritas.aswa.entites.client.User" mapper-ref="jacksonObjectMapper"/>

    <http:endpoint name="aswaWsVehicle" address="http://${mule.host}:${mule.port.http}/aswa/ws/vehicle" encoding="UTF-8" responseTransformer-refs="objectToString"/>
    <http:endpoint name="aswaWsContract" address="http://${mule.host}:${mule.port.http}/aswa/ws/contract" encoding="UTF-8" responseTransformer-refs="objectToString"/>
    <http:endpoint name="aswaWsPerson" address="http://${mule.host}:${mule.port.http}/aswa/ws/person" encoding="UTF-8" responseTransformer-refs="objectToString"/>
    <http:endpoint name="aswaWsBMLimited" address="http://${mule.host}:${mule.port.http}/aswa/ws/bm/limited" encoding="UTF-8" responseTransformer-refs="objectToString"/>
    <http:endpoint name="aswaWsBMUnlimited" address="http://${mule.host}:${mule.port.http}/aswa/ws/bm/unlimited" encoding="UTF-8" responseTransformer-refs="objectToString"/>
</mule>
