gateway.url=http://{{ GatewayServer }}:63750/ServiceGateway

# IP and port of hosting computer
mule.port.http=8081

jms.ha=false
jms.port=5445

ws.compensation.dir=/usr/bureauveritas/APP_DATA/ASWA
config.directory=/DATA_CMS/ESB_CONF