##############################
## Common Alfresco Properties #
###############################

dir.root=/appli/alfresco/alf_data

alfresco.context=alfresco
alfresco.host=alfresco_{{ country }}
alfresco.protocol=http

share.context=share
share.host=alfresco_{{ country }}
share.protocol=http

### database connection properties ###
db.driver=org.postgresql.Driver
db.username={{ alfresco_user }}
db.password={{ alfresco_password }}
vti.server.external.host=127.0.0.1
{% if inventory_hostname in groups.DockerRecette and country=="benin" %}
    db.name={{ REC_ALF_DB_NAME_BENIN }}
    db.url=jdbc:postgresql://db:5432/{{ REC_ALF_DB_NAME_BENIN }}
    alfresco.port={{ REC_ALF_EPERMITS_HTTP_BENIN }}
    share.port={{ REC_ALF_EPERMITS_HTTP_BENIN }}
    vti.server.external.port={{ REC_ALF_EPERMITS_HTTP_BENIN }}
{% endif %}

{% if inventory_hostname in groups.DockerRecette and country=="laos" %}
    db.name={{ REC_ALF_DB_NAME_LAOS }}
    db.url=jdbc:postgresql://db:5432/{{ REC_ALF_DB_NAME_LAOS }}
    alfresco.port={{ REC_ALF_EPERMITS_HTTP_LAOS }}
    share.port={{ REC_ALF_EPERMITS_HTTP_LAOS }}
    vti.server.external.port={{ REC_ALF_EPERMITS_HTTP_LAOS }}
{% endif %}

{% if inventory_hostname in groups.DockerTra and country=="benin" %}
    db.name={{ TRA_ALF_DB_NAME_BENIN }}
    db.url=jdbc:postgresql://db:5432/{{ TRA_ALF_DB_NAME_BENIN }}
    alfresco.port={{ TRA_ALF_EPERMITS_HTTP_BENIN }}
    share.port={{ TRA_ALF_EPERMITS_HTTP_BENIN }}
    vti.server.external.port={{ TRA_ALF_EPERMITS_HTTP_BENIN }}
{% endif %}


{% if inventory_hostname in groups.DockerTra and country=="laos" %}
    db.name={{ TRA_ALF_DB_NAME_LAOS }}
    db.url=jdbc:postgresql://db:5432/{{ TRA_ALF_DB_NAME_LAOS }}
    alfresco.port={{ TRA_ALF_EPERMITS_HTTP_LAOS }}
    share.port={{ TRA_ALF_EPERMITS_HTTP_LAOS }}
    vti.server.external.port={{ TRA_ALF_EPERMITS_HTTP_LAOS }}
{% endif %}

{% if inventory_hostname in groups.DockerUat and country=="benin" %}
    db.name={{ UAT_ALF_DB_NAME_BENIN }}
    db.url=jdbc:postgresql://db:5432/{{ UAT_ALF_DB_NAME_BENIN }}
    alfresco.port={{ UAT_ALF_EPERMITS_HTTP_BENIN }}
    share.port={{ UAT_ALF_EPERMITS_HTTP_BENIN }}
    vti.server.external.port={{ UAT_ALF_EPERMITS_HTTP_BENIN }}
{% endif %}

{% if inventory_hostname in groups.DockerUat and country=="laos" %}
    db.name={{ UAT_ALF_DB_NAME_LAOS }}
    db.url=jdbc:postgresql://db:5432/{{ UAT_ALF_DB_NAME_LAOS }}
    alfresco.port={{ UAT_ALF_EPERMITS_HTTP_LAOS }}
    share.port={{ UAT_ALF_EPERMITS_HTTP_LAOS }}
    vti.server.external.port={{ UAT_ALF_EPERMITS_HTTP_LAOS }}
{% endif %}


{% if inventory_hostname in groups.DockerSdx and country=="benin" %}
    db.name={{ SDX_ALF_DB_NAME_BENIN }}
    db.url=jdbc:postgresql://db:5432/{{ SDX_ALF_DB_NAME_BENIN }}
    alfresco.port={{ SDX_ALF_EPERMITS_HTTP_BENIN }}
    share.port={{ SDX_ALF_EPERMITS_HTTP_BENIN }}
    vti.server.external.port={{ SDX_ALF_EPERMITS_HTTP_BENIN }}
{% endif %}

{% if inventory_hostname in groups.DockerSdx and country=="laos" %}
    db.name={{ SDX_ALF_DB_NAME_LAOS }}
    db.url=jdbc:postgresql://db:5432/{{ SDX_ALF_DB_NAME_LAOS }}
    alfresco.port={{ SDX_ALF_EPERMITS_HTTP_LAOS }}
    share.port={{ SDX_ALF_EPERMITS_HTTP_LAOS }}
    vti.server.external.port={{ SDX_ALF_EPERMITS_HTTP_LAOS }}
{% endif %}

{% if inventory_hostname in groups.DockerIntegration and country=="benin" %}
    db.name={{ INT_ALF_DB_NAME_BENIN }}
    db.url=jdbc:postgresql://db:5432/{{ INT_ALF_DB_NAME_BENIN }}
    alfresco.port={{ INT_ALF_EPERMITS_HTTP_BENIN }}
    share.port={{ INT_ALF_EPERMITS_HTTP_BENIN }}
    vti.server.external.port={{ INT_ALF_EPERMITS_HTTP_BENIN }}
{% endif %}

{% if inventory_hostname in groups.DockerIntegration and country=="laos" %}
    db.name={{ INT_ALF_DB_NAME_LAOS }}
    db.url=jdbc:postgresql://db:5432/{{ INT_ALF_DB_NAME_LAOS }}
    alfresco.port={{ INT_ALF_EPERMITS_HTTP_LAOS }}
    share.port={{ INT_ALF_EPERMITS_HTTP_LAOS }}
    vti.server.external.port={{ INT_ALF_EPERMITS_HTTP_LAOS }}
{% endif %}

# Note: your database must also be able to accept at least this many connections.  Please see your database documentation for instructions on how to configure this.
db.pool.max=275
db.pool.validate.query=SELECT 1

# The server mode. Set value here
# UNKNOWN | TEST | BACKUP | PRODUCTION
system.serverMode=UNKNOWN

### FTP Server Configuration ###
ftp.port=21

### RMI registry port for JMX ###
alfresco.rmi.services.port=50500

### External executable locations ###
ooo.exe=/appli/alfresco/libreoffice/program/soffice
ooo.enabled=true
ooo.port=8100
img.root=/appli/alfresco/common
img.dyn=${img.root}/lib
img.exe=${img.root}/bin/convert
swf.exe=/appli/alfresco/common/bin/pdf2swf
swf.languagedir=/appli/alfresco/common/japanese

jodconverter.enabled=false
jodconverter.officeHome=/appli/alfresco/libreoffice
jodconverter.portNumbers=8100

### Initial admin password ###
alfresco_user_store.adminpassword=209c6174da490caeb422f3fa5a7ae634

### E-mail site invitation setting ###
notification.email.siteinvite=false

### License location ###
dir.license.external=/appli/alfresco

### Solr indexing ###
index.subsystem.name=solr4
dir.keystore=${dir.root}/keystore
solr.port.ssl=8443