postgresql:
  image: {{ POSTGRES_IMAGE }}
  mem_limit: {{ memory_limit_database }}
  volumes:
      - "/var/lib/pgsql/data/"
      - "/home/deployer/docker/postgresql/dbarchive:/dbarchive/postgres/:Z"
      - "/home/deployer/docker/postgresql/dbbackup:/dbbackup/postgres/:Z"
  ports:
     - "0.0.0.0:5432:5432"
     - "0.0.0.0:{{ DATABASE_SSH }}:22"
  environment:
     - POSTGRES_USER={{ epermits_user }}
     - POSTGRES_PASSWORD={{ epermits_password }}
