{% for item in conf %}
db=pgsql
jdbc.driver=org.postgresql.Driver
jdbc.url=jdbc:postgresql://{{ item.server }}:{{ item.port }}/{{ item.name }}
jdbc.username={{ item.name }}
jdbc.password={{ item.password }}
{% endfor %}
