#!/usr/bin/env bash

{% for  item in conf %}
for files in activiti.postgres.create.engine.sql activiti.postgres.create.history.sql activiti.postgres.create.identity.sql
do
su -c "psql -U activiti  -h  "{{ item.server }}" -d activiti -f /appli/activiti-5.17.0/database/create/$files" -s /bin/sh deployer 

done
{% endfor %}
